-i https://pypi.org/simple
aiohttp==3.6.2
argcomplete==1.10.3
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
idna==2.8
idna-ssl==1.1.0
langdetect==1.0.7
multidict==4.6.1
ndjson==0.2.0
numpy==1.17.4
pandas==0.25.3
prompt-toolkit==2.0.10
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
six==1.13.0
typing-extensions==3.7.4.1
urllib3==1.25.7
wcwidth==0.1.7
xlrd==1.2.0
yarl==1.4.1
